:local(.styles) {
    width: 260px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 49px 0 0 0;
    .image-cropper {
        overflow: hidden;
        margin-bottom: 40px;
        .inserted-image {
            width: 260px;
            height: auto;
        }
    }
    @media (max-width:595px) {
        width: 260px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0 !important;
    }
}