:local(.styles) {
    .header-main-title {
        font-size: 1.25em;
        text-align: center;
        height: 100%;
        padding-top: 5px;
        padding-left: 1em;
        text-transform: uppercase;
        white-space: pre-line;
    }
    .top-logo {
        filter: invert(1);
        height: 60px;
    }
    @media (max-width:595px) {
        .header-main-title {
            word-wrap: break-word !important;
            font-size: 1em;
            padding-left: 1em;
        }
    }
}