:local(.styles) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .main-card-for-android-and-ios-form {
        width: 95%;
        margin: 1.5em auto 1.5em auto;
        padding-bottom: 1em;
        .container-for-fields-and-images {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            max-width: 1400px;
            flex-wrap: wrap;
            padding: 0 1em 0 1em;
            box-sizing: border-box;
            .container-for-fields {
                max-width: 1100px;
                border: none;
                display: inline-block;
                flex-grow: 1;
            }
            .helpfull-container-for-description {
                width: 260px;
                margin-left: 5px;
                display: inline-block;
                .div-in-helpfull-container-for-description {
                    padding-top: 49px;
                    font-size: 1em;
                    text-align: auto;
                }
            }
            .container-for-image {
                max-width: 260px;
                margin-left: 5px;
                display: inline-block;
            }
        }
        .helpfull-card-title-keywords {
            text-align: center;
            padding: 1.5em 0 1.5em 0;
        }
    }
    .div-for-buttons {
        margin: 1em auto;
        margin-left: auto;
        margin-right: auto;
        padding: 1em 0;
        width: 25%;
        min-width: 280px;
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        .button {
            margin: 0 0.5em;
            width: 8em;
        }
    }
    @media (max-width:595px) {
        div.helpfull-card-title-keywords {
            text-align: center;
            padding: 1.5em 0 0.5em 0!important;
        }
        .div-in-helpfull-container-for-description {
            padding-top: 0!important;
            font-size: 1em;
        }
    }
}