:local(.styles) {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    white-space: pre-wrap;
    display: block;
    bottom: 0;
    margin-top: 5px;
    background-color: black;
    padding-right: 10px;
    .span-app-bar {
        color: white;
        margin-right: 20px;
    }
    .div-for-copyrights-and-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        .bottom-logo {
            filter: invert(1);
            height: 60px;
        }
    }
}